<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyC4hrjCQL10DZOFGGxevycNH1wLJ2TAN5M</string>
	<key>GCM_SENDER_ID</key>
	<string>417651727467</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.ethoswatches.app</string>
	<key>PROJECT_ID</key>
	<string>ethos-627ce</string>
	<key>STORAGE_BUCKET</key>
	<string>ethos-627ce.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<true/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:417651727467:ios:9570ce7b475f080f2aa52e</string>
	<key>CLIENT_ID</key>
	<string>417651727467-35fhpeqeohckba3d9s6j4cq2s249e929.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.417651727467-35fhpeqeohckba3d9s6j4cq2s249e929</string>
</dict>
</plist>
